<div class="post-container">
  <div class="post-side">
    <div class="search-box">
      <input type="text" class="searchInput" placeholder="Search...">
      <i class='bx bx-search-alt'></i>
    </div>
    <div class="fakeimg2 topAd">Image</div>
    <h3>Related articles</h3>
    <div class="trending-articles">
      <ul>
        <li>
          <a>
            <div class="article-url">
              <h6>Rails 5 Actioncable Real-Time Notifications - Part 3 Stream Notifications</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  August 22, 2021</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>Best Wordpress Software Companies</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  June 18, 2021</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>How to Create Bootstrap Login Form with PHP Validation</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  November 8, 2020</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>Top 5 Trending Programming languages</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  August 28, 2021</time>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="fakeimg2">Image</div>
    <h3>Trending articles</h3>
    <div class="trending-articles">
      <ul>
        <li>
          <a>
            <div class="article-url">
              <h6>Rails 5 Actioncable Real-Time Notifications - Part 3 Stream Notifications</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  August 22, 2021</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>Best Wordpress Software Companies</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  June 18, 2021</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>How to Create Bootstrap Login Form with PHP Validation</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  November 8, 2020</time>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-url">
              <h6>Top 5 Trending Programming languages</h6>
              <span class="article-date">
                <i class='bx bx-time-five'></i>
                <time>  August 28, 2021</time>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="fakeimg2 stickyAd">Image</div>
  </div>
  <div class="post-content">
    <div class="post-title">
      <h2 class="post-name">Title heading</h2>
      <div class="read-later">
        <i class='bx bx-book-add'></i>
        <span class="read-later-txt">Read later</span>
      </div>
    </div>
    <!--ovde mogu i oni tag-links-->
    <p class="topic">
      Topic: HTML/CSS
    </p>
    <!--<div class="post-details">
    <p class="post-category">C programming</p>
    <span class="details-dot"></span>
    <p class="post-update">Last Updated: June 28, 2021</p>
    <span class="details-dot"></span>
    <p class="post-time">12 min read</p>
  </div>-->
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <!--<div class="fakeimg" style="height:200px;">Image</div>-->
    <!--<div class="fakeimg">Image</div>-->
    <img class="fakeimg" src="../images/testPic.jpg" />
    <p>Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum</p>
    <div class="note-card">
      <p><strong>Note</strong>: Our <a>glossary</a> provides terminology definitions. Besides, if you have a specific question about web development, our <a>Common questions</a> section may have something to help you.</p>
    </div>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <h3>Heading 3</h3>
    <p>Sunt in <span class="code-block">arr[i]</span> qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <p>Some text..</p>
    <!--<div class="fakeimg" style="height:200px;">Image</div>-->
    <div class="fakeimg">Image</div>
    <app-code-tab [menuLists]="parentmenuLists" [codeCSS]="parentCodeCSS" [codePython]="parentCodePython"></app-code-tab>

    <app-code-tab [menuLists]="parentmenuLists2" [codeCplus]="parentCodeCplus"></app-code-tab>
    <p>Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum Lorem ipsum lorem ipsum lorem ipsum</p>
    <p>Some text..</p>
    <ul class="classic-list">
      <li>The <strong>if</strong> statement</li>
      <li>The <strong>if...else</strong> statement</li>
      <li>The <strong>if...elseif....else</strong> statement</li>
      <li>The <strong>switch...case</strong> statement</li>
    </ul>
    <!--<h4>Highlight response</h4>
  <pre>{{ response | json }}</pre>-->
    <p>
      Sunt in culpaqui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco.
    </p>
    <!--OVDE-->
    <div class="horizontal-break"></div>
    <h3>Tags <i class='bx bx-purchase-tag-alt'></i></h3>
    <div class="tags-container">
      <a class="tag-link">C programming</a>
      <a class="tag-link">Algorithms</a>
      <a class="tag-link">Linked lists</a>
    </div>
    <div class="comment-section">
      <div class="comments-header">
        <div class="comments-number">
          <span>12 Comments</span>
        </div>
        <div class="comments-header-space"></div>
        <div class="sort-comments">
          <div (click) ="toggleSort()">
            <span>{{sortPref}}</span>
            <i class='bx bxs-down-arrow' [class.rotate-chevron]="sortChange"></i>
          </div>
          <div class="sort-dropdown" [class.sort-dropdown-toggle]="!sortChange">
            <form #sortForm = "ngForm">
              <div class="pop-drop">
                <div class="radio-group">
                  <!--<label class="radio-btn-container">
                    <input (click) = "changeSort()" class="radio-btn-input" type="radio" value="popularity" [(ngModel)] = "sortPref" name="sortPref"  />
                    <span class="radio-btn-label">Popular</span>
                  </label>
                  <label class="radio-btn-container">
                    <input (click) = "changeSort()" class="radio-btn-input" type="radio" value="newest" [(ngModel)] = "sortPref" name="sortPref" />
                    <span class="radio-btn-label">Newest</span>
                  </label>-->
                  <label class="radio-btn-container">
                    <input (click) = "changeSort()" class="radio-btn-input" type="radio" value="popular" [(ngModel)] = "sortPref" name="sortPref"  />
                    <span class="radio-btn-label">Popular</span>
                  </label>
                  <label class="radio-btn-container">
                    <input (click) = "changeSort()" class="radio-btn-input" type="radio" value="newest" [(ngModel)] = "sortPref" name="sortPref" />
                    <span class="radio-btn-label">Newest</span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="comment-thread">
        <div class="comment-level-one">
          <div class="comment-left">
            <div class="comment-avatar">
              <i class='bx bxs-user'></i>
            </div>
          </div>
          <div class="comment-right">
            <div class="comment-right-header">
              <div class="comment-author">
                <p>Boris</p>
              </div>
              <div class="comment-date">
                <span class="article-comment-date">
                  <i class='bx bx-time-five'></i>
                  <time>  August 28, 2021</time>
                </span>
              </div>
            </div>
            <div class="comment-text">
              <p>Love these! Thank you for sharing. I just bought your Nutrition Guide because I love your recipes. Can’t wait to listen to some of these while meal prepping. Have you heard Dolly Parton’s America? Really good podcast.</p>
            </div>
            <div class="comment-footer">
              <div class="vote-up">
                <p><i class='bx bxs-upvote'></i> 6</p>
              </div>
              <div class="reply-button">
                <p><i class='bx bx-share bx-rotate-180'></i> Reply</p>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-level-two">
          <div class="comment-left">
            <div class="comment-avatar">
              <i class='bx bxs-user'></i>
            </div>
          </div>
          <div class="comment-right">
            <div class="comment-right-header">
              <div class="comment-author">
                <p>John</p>
              </div>
              <div class="comment-date">
                <span class="article-comment-date">
                  <i class='bx bx-time-five'></i>
                  <time>  August 30, 2021</time>
                </span>
              </div>
            </div>
            <div class="comment-text">
              <p>I think these giveaways are USA only and Canada maybe?</p>
            </div>
            <div class="comment-footer">
              <div class="vote-up">
                <p><i class='bx bxs-upvote'></i> 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-thread">
        <div class="comment-level-one">
          <div class="comment-left">
            <div class="comment-avatar">
              <i class='bx bxs-user'></i>
            </div>
          </div>
          <div class="comment-right">
            <div class="comment-right-header">
              <div class="comment-author">
                <p>Boris</p>
              </div>
              <div class="comment-date">
                <span class="article-comment-date">
                  <i class='bx bx-time-five'></i>
                  <time>  August 28, 2021</time>
                </span>
              </div>
            </div>
            <div class="comment-text">
              <p>Love these! Thank you for sharing. I just bought your Nutrition Guide because I love your recipes. Can’t wait to listen to some of these while meal prepping. Have you heard Dolly Parton’s America? Really good podcast.</p>
            </div>
            <div class="comment-footer">
              <div class="vote-up">
                <p><i class='bx bxs-upvote'></i> 6</p>
              </div>
              <div class="reply-button">
                <p><i class='bx bx-share bx-rotate-180'></i> Reply</p>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-level-two">
          <div class="comment-left">
            <div class="comment-avatar">
              <i class='bx bxs-user'></i>
            </div>
          </div>
          <div class="comment-right">
            <div class="comment-right-header">
              <div class="comment-author">
                <p>John</p>
              </div>
              <div class="comment-date">
                <span class="article-comment-date">
                  <i class='bx bx-time-five'></i>
                  <time>  August 30, 2021</time>
                </span>
              </div>
            </div>
            <div class="comment-text">
              <p>I think these giveaways are USA only and Canada maybe?</p>
            </div>
            <div class="comment-footer">
              <div class="vote-up">
                <p><i class='bx bxs-upvote'></i> 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="load-comments">
        <a class="load-comments-btn">Load more comments</a>
      </div>
    </div>
    <h3 class="read-next-header">Read next</h3>
    <div class="related-articles modifNext">
      <ul>
        <li>
          <a>
            <div class="article-slider">
              <div class="slider-url">
                <div class="slider-text">
                  <h5>Rails 5 Actioncable Real-Time Notifications - Part 3 Stream Notifications</h5>
                  <p class="article-text">Lorem ipusm lorem ipsum lorem ipsum Lorem ipusm lorem ipsum lorem ipsum lorem ipsum lorem ipsum...</p>
                </div>
                <div class="details-wrap">
                  <p class="slider-category"><i class='bx bx-category'></i> Algorithms</p>
                  <p class="article-likes"><i class='bx bxs-heart-circle'></i> 65</p>
                  <p class="article-autor"><i class='bx bx-user'></i> Boris Martinovic</p>
                  <!--<a class="read-more">Read more </a>-->
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-slider">
              <div class="slider-url">
                <div class="slider-text">
                  <h5>Rails 5 Actioncable Real-Time Notifications - Part 3 Stream Notifications</h5>
                  <p class="article-text">Lorem ipusm lorem ipsum lorem ipsum Lorem ipusm lorem ipsum lorem ipsum lorem ipsum lorem ipsum...</p>
                </div>
                <div class="details-wrap">
                  <p class="slider-category"><i class='bx bx-category'></i> Algorithms</p>
                  <p class="article-likes"><i class='bx bxs-heart-circle'></i> 65</p>
                  <p class="article-autor"><i class='bx bx-user'></i> Boris Martinovic</p>
                  <!--<a class="read-more">Read more </a>-->
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="article-slider">
              <div class="slider-url">
                <div class="slider-text">
                  <h5>Rails 5 Actioncable Real-Time Notifications - Part 3 Stream Notifications</h5>
                  <p class="article-text">Lorem ipusm lorem ipsum lorem ipsum Lorem ipusm lorem ipsum lorem ipsum lorem ipsum lorem ipsum...</p>
                </div>
                <div class="details-wrap">
                  <p class="slider-category"><i class='bx bx-category'></i> Algorithms</p>
                  <p class="article-likes"><i class='bx bxs-heart-circle'></i> 65</p>
                  <p class="article-autor"><i class='bx bx-user'></i> Boris Martinovic</p>
                  <!--<a class="read-more">Read more </a>-->
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="next-article-pagination">
      <button class="pagination-button active-pagination">1</button>
      <button class="pagination-button">2</button>
      <button class="pagination-button">3</button>
    </div>
  </div>
</div>
