<!--<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <img />
      <h2>HalfDev</h2>
      <p>Stay in touch</p>
      <div class="footer-social">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-github'></i></a>
      </div>
    </div>
    <div class="right-col">
      <h1>Our Newsletter</h1>
      <div class="borderFooter"></div>
      <p>Enter Your Email to get our news and updates.</p>
      <form action="" class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email..." />
        <input type="submit" class="footerBtn" value="Submit" />
      </form>
    </div>
  </div>
  <ul class="footer-right">
    <li class="first-level-li">
      <div class="link-border"></div>
      <h2>Explore</h2>
      <ul class="footer-box">
        <li><a href="#">Popular Articles</a></li>
        <li><a href="#">Recent Articles</a></li>
        <li><a href="#">Categories</a></li>
      </ul>
    </li>
    <li class="first-level-li">
      <div class="link-border"></div>
      <h2>Useful links</h2>
      <ul class="footer-box">
        <li><a href="#">About HalfDev</a></li>
        <li><a href="#">Support Me</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </li>
    <li class="first-level-li">
      <div class="link-border"></div>
      <h2>Information</h2>
      <ul class="footer-box">
        <li><i class='bx bxs-home'></i> Belgrade, Serbia</li>
        <li><i class='bx bxs-envelope'></i> halfdev@gmail.com</li>
      </ul>
    </li>
  </ul>
  
</footer>
<div class="footer-bottom">
  <p>{{year}} HalfDev All Rights Reserved. &copy;</p>
  <p>Web Development and Design by Boris Martinovic</p>
</div>-->
<div class="main-footer">
  <nav class="footer-nav">
    <div class="brand">
      <!--{{year}} <strong>Half</strong>Dev All Rights Reserved. &copy;-->
      &copy; {{year}} HalfDev
    </div>
    <div class="useful-links">
      <ul class="links-list">
        <li class="list-item">
          <a class="list-item-link">About</a>
        </li>
        <li class="list-item">
          <a class="list-item-link">Privacy</a>
        </li>
        <li class="list-item">
          <a class="list-item-link">Support</a>
        </li>
      </ul>
    </div>
    <div class="social-links">
      <ul class="links-list">
        <li class="list-item">
          <a href="https://www.facebook.com/boris.martinovic.3910/" class="social-icon" target="_blank" rel="noopener noreferrer"><i class='bx bxl-facebook'></i></a>
        </li>
        <li class="list-item">
          <a href="https://www.instagram.com/boris_martinovic_/" class="social-icon" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram'></i></a>
        </li>
        <li class="list-item">
          <a href="https://github.com/borismartinovic01" class="social-icon" target="_blank" rel="noopener noreferrer"><i class='bx bxl-github'></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
